<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 智能生产线控制系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="todoApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("智能生产线控制系统", "Reset", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("设备监控", "Reset", "Home")</li>
                    <li>@Html.ActionLink("AGV订单监控", "Index", "Home")</li>
                    <li>@Html.ActionLink("单元订单监控", "About", "Home")</li>
                    <li>@Html.ActionLink("Hangfire", "", "hangfire")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 智能生产线控制系统</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/moment.js"></script>
    @*<script src="~/Scripts/abp.signalr.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    @*<script>
            abp.signalr = abp.signalr || {};
            abp.signalr.autoConnect = false;
        </script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
